<form>
    <div class="form-group">
        <label for="empname">Employee Name</label>
        <input type="text" class="form-control" id="empname" name="empname">
    </div>
    <div class="form-group">
        <label for="empdob">Date of Birth</label>
        <input type="date" class="form-control" id="empdob" name="empdob">
    </div>
    <div class="form-group">
        <label for="empgender">Gender</label>
        <select id="empgender" class="form-control" required name="empgender">
            <option selected>Choose...</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
    </div>
    <div class="form-group">
        <label for="empemail">Email address</label>
        <input type="email" class="form-control" id="empemail" name="empemail" placeholder=user.empemail>
    </div>
    <div class=" form-group">
        <label for="emppassword">Password</label>
        <input type="password" class="form-control" id="emppassword" name="emppassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>